<template name="dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="main-info-dashboard">
        <div class="col-md-9 hi">
          <h2 class="hello-name">Hello {{currentUser.profile.firstName}}</h2>
          <h3 class="greeting">Welcome to JobTag</h3>
        </div>
        <div class="col-sm-3">
          <p>Help us to grow</p>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12 state">
        <div class="col-md-12 question">
        <strong><p>How your job search is progressing ?</p></strong>
        </div>
        <div class="col-md-4">
           <div class="col-md-12 current-saved"></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 current-saved"></div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 current-saved"></div>
        </div>
      </div>
    </div>  
</template>

<!-- <div id="dashboard">
    <div class="main-info building">
      <div class="row">
        <div class="welcome col-md-9">
          <h1 class="hello-name">Hello {{currentUser.profile.firstName}}</h1>
          <h2 class="greeting">Welcome to JobTag</h2>
        </div>
        <div class="social-media col-md-3">
          <p>Help us to grow</p>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="second-main">
      <div class="row">
        <p class="ask">How your job search is progressing ?</p>
        <div class="summary col-md-12">
            <div class="col-sm-3 current-saved"></div>
            <div class="col-sm-3 current-saved"></div>
            <div class="col-sm-3 current-saved"></div>
        </div>
      </div>
      <div class="row">
        <div class="issues">
        </div>
      </div>
      <div class="row">
        <div class="news">
        </div>
      </div> 
    </div>
  </div> -->