<template name="faq">
  <h1 class="text-center">FAQ</h1>

  <h2>Général</h2>
  <h3>1. Pourquoi utiliser JobTag ?</h3>
  <p>Dans vos recherches d’emplois vous naviguez entre des dizaines de sites et vous consultez énormément d’annonces.<br>
  En moyenne, vous postulez à 29 offres avant de trouver un emploi. JobTag vous aide à organiser et à optimiser vos recherches. C’est à dire qu’avec JobTag vous avez une vision globale de vos investigations mais aussi un suivi personnalisé de vos candidatures.</p>

  <h3>2. Comment fonctionne JobTag ?</h3>
  <p>JobTag est un tableau de bord personnel qui à pour but de vous aider à organiser vos recherches d’emplois.<br>
  Tout d’abord grâce à notre marque page « taguer une offre », sauvegardez les offres d’emplois qui vous intéressent à partir de n’importe quel site.<br>
  Epinglez vos documents (CV, lettre de motivation), vos annotations et vos contacts pour chacune des offres.<br>
  Suivez l’évolution de votre candidature grâce aux rappels et aux échéances.</p>

  <h3>3. Le service est-il payant ?</h3>
  <p>Nous trouvons absurde de faire payer des personnes sans emplois ou des étudiants pour notre service.<br>
  JobTag est un outil entièrement gratuit.</p>

  <h3>4. Et si je veux enregistrer une offre d’emploi qui n’est pas sur internet ?</h3>
  <p>JobTag vous permet aussi d’ajouter des offres que vous n’avez pas nécessairement trouvées sur internet. Pour cela rien de plus simple.<br>
  Rendez-vous dans votre tableau de bord et cliquez sur le bouton «Ajouter une offre.</p>

  <h3>5. Peut on trouver des offres d’emplois sur JobTag ?</h3>
  <p>JobTag, est une plateforme qui vous aide à organiser et à optimiser vos recherches d’emplois. Aucune offre d’emploi n’est référencée sur notre plateforme.</p>

  <h2>Marque-page</h2>
  <h3>6. A quoi sert le marque-page ?</h3>
  <p>Le marque-page « taguer une offre » sert à enregistrer une offre d’emploi dans votre tableau de bord JobTag.<br>
  Une fois votre offre sauvegardée vous pouvez en garder la trace mais aussi suivre l’évolution de votre candidature.</p>

  <h3>7. Comment installer le marque-page ?</h3>
  <p>Pour installer le marque page rendez-vous sur cette page. Glissez-déposez le marque page dans votre barre de favoris.<br>
  Si votre barre de favoris ne s’affiche pas, faites la manipulation suivante sur votre clavier : &#8679; + (ctrl ou &#8984;) + B.</p>

  <h3>8. Que faire si je n’arrive pas à installer le marque-page ?</h3>
  <p>Si vous rencontrez un problème avec l’installation du marque-page, n’hésitez pas à nous alerter du problème en nous envoyant un email à contact@jobtag.fr.<br>
  Pensez à référencer le champs Objet avec l’intitulé du problème rencontré.</p>

  <h3>9. Quels sont les sites sur lesquels fonctionnent le marque-page ?</h3>
  <p>Le marque-page fonctionne avec tous les sites (réseaux sociaux, annuaires d’offres d’emplois, sites institutionnels des sociétés…).</p>

  <h3>10. Que faire si l’offre s’affiche dans une pop-up ?</h3>
  <p>Si l’offre s’affiche dans une pop-up, copiez-collez l’adresse url de l’offre d’emploi dans la page principale de votre navigateur web.</p>

  <h2>Offres</h2>
  <h3>11. Comment sauvegarder une offre ?</h3>
  <p>Pour sauvegarder une offre utilisez le marque-page. Vous pouvez l’installer à partir de cette page.<br>
  Si l’offre d’emploi que vous voulez sauvegarder ne se trouve pas sur internet, cliquez sur le bouton « ajouter une offre » dans votre tableau de bord.</p>

  <h3>12. Comment gérer mes offres sauvegardées ?</h3>
  <p>Vous pouvez gérer et suivre vos offres à partir de votre tableau de bord.<br>
  Noter l’offre, ajouter des documents, suivre l’évolution grâce à la Timeline, ajouter des contacts, archiver, supprimer ou modifier.</p>

  <h3>13. Combien d’offres d’emplois puis-je sauvegarder ?</h3>
  <p>JobTag ne vous limite pas dans le nombre d’offres que vous pouvez enregistrer. Attention tout de même à penser à archiver ou supprimer les offres désuètes pour rester organisé.</p>

  <h3>14. Comment modifier une offre sauvegardée ?</h3>
  <p>Pour modifier une offre sauvegardée rendez-vous dans votre tableau de bord, cliquez sur l’offre que vous voulez modifier puis sur l’icône modifier l’offre (un crayon qui écrit sur une feuille) en haut à droite. Vous pouvez alors modifier toutes les informations de l’offre dans l’onglet Description.</p>

  <h3>15. Comment supprimer une offre sauvegardée ?</h3>
  <p>Pour supprimer une offre sauvegardée rendez-vous sur votre tableau de bord, sélectionnez l’offre que vous voulez supprimer puis cliquez sur le bouton en haut à droite en forme de poubelle.</p>

  <h3>16. Comment suivre l’évolution de ma candidature ?</h3>
  <p>Pour suivre l’évolution de votre candidature rendez-vous dans votre tableau de bord. Sélectionnez l’offre en question. En haut à droite, un aperçu de la Timeline (une barre latérale avec des icônes qui représentent les grandes étapes du processus d’embauche) vous permettra de suivre simplement l’évolution de votre candidature.<br>
  Dans l’onglet Timeline, vous pouvez répondre à des questions sur l’état de votre candidature pour vous aider à suivre le processus.<br>
  Il est très important d’archiver les offres auxquelles votre candidature n’a pas abouti de façon à les clôturer.<br>
  Pour en savoir plus sur l’aperçu de la Timeline et l’onglet Timeline, rendez-vous au chapitre TIMELINE de cette F.A.Q.</p>

  <h2>Dossiers</h2>
  <h3>17. A quoi servent les dossiers ?</h3>
  <p>Pour simplifier encore plus la gestion de vos offres d’emplois, nous avons rajouté des dossiers dans lesquels vous pouvez ranger vos offres sauvegardées.</p>

  <h3>18. Combien de dossiers puis-je créer ?</h3>
  <p>Comme pour le nombre d’offres que vous enregistrez il n’y a pas de limites. Soyez tout de même raisonnable dans le nombre de dossiers, il s’agit de rester organisé.</p>

  <h3>19. Comment créer un nouveau dossier ?</h3>
  <p>Pour ajouter un dossier, placez votre curseur sur Ajouter un dossier dans la colonne de gauche puis faites un clic droit. Tapez le nom du dossier que vous voulez ajouter et appuyez sur la touche entrée.</p>

  <h3>20. Comment supprimer un dossier ?</h3>
  <p>Pour supprimer un dossier, cliquez sur la croix qui se trouve à droite de son nom. Une fenêtre apparaîtra vous demandant de valider votre choix. Lorsque vous supprimez un dossier, vous ne supprimez pas les offres qu’il contient. Vous retrouverez les offres du dossier que vous venez de supprimer dans Toutes les offres, elles ne seront liées à aucun dossier que vous avez créé.</p>

  <h3>21. Comment renommer un dossier ?</h3>
  <p>Pour renommer un dossier cliquez sur le crayon qui se trouve à droite de son nom. Le nom du dossier devient alors modifiable. Tapez le nom que vous voulez lui donner et appuyez sur la touche entrée de votre clavier pour valider le changement.</p>

  <h2>Documents</h2>
  <h3>22. A quoi sert l’onglet Documents ?</h3>
  <p>Dans l’onglet Documents vous pouvez joindre votre CV et votre lettre de motivation à chacune des offres que vous avez créées dans JobTag.<br>
  En cliquant sur le nom du document vous pourrez le visualiser directement dans votre navigateur.</p>

  <h3>23. Quel type de document puis-je enregistrer sur JobTag ?</h3>
  <p>Pour enregistrer un document sur JobTag, celui-ci doit être au format PDF et pesé moins de 2,5Mo.<br>
  Lorsque vous téléchargez un document sur JobTag, une ou deux minutes peuvent s’écouler avant que celui-ci ne soit lisible.<br>
  Si vous rencontrez un problème avec le téléchargement d’un document, n’hésitez pas à nous en alerter en envoyant un email à contact@jobtag.fr.<br>
  N’oubliez pas de préciser le motif de votre message dans le champs Objet.</p>

  <h2>Timeline</h2>
  <h3>24. A quoi sert la Timeline ?</h3>
  <p>La Timeline vous sert à suivre l’évolution de votre candidature pour chacune des offres d’emplois que vous avez enregistrées.</p>

  <h3>25. Comment fonctionne la Timeline ?</h3>
  <p>Lorsque vous avez sélectionné une offre, vous pouvez visualiser un aperçu de la Timeline dans la partie en haut à droite. C’est un condensé sous forme d’icône qui vous permet en seulement un clic de connaître votre avancement dans le processus de recrutement. L’aperçu de la Timeline se lit de gauche à droite, nous avons défini 5 étapes clés dans le processus de recrutement, symbolisées par des icônes :<br>
  <ul>
    <li>1ère icône : Vous avez enregistré votre offre dans JobTag ;</li>
    <li>2ème icône : Envoi de votre candidature à l’entreprise ;</li>
    <li>3ème icône : Attente d’une réponse / Relance de l’entreprise ;</li>
    <li>4ème icône : Entretien(s) ;</li>
    <li>5ème icône : Réponse positive ou négative à votre candidature.</li>
  </ul>
  Chaque étape peut apparaître de couleurs différentes en fonction de son statut : La couleur verte représente les actions déjà effectuées, la couleur bleue représente les actions en cours, la couleur grise représente les actions à venir et la couleur rouge représente l’étape à laquelle le processus s’est arrêté avant que vous ne clôturiez une offre<br>
  Lorsque vous avez sélectionné une offre, dans l’onglet Timeline vous pouvez répondre à des questions qui serviront à suivre votre avancement dans le processus de recrutement. Nous avons défini 5 étapes clés dans le processus de recrutement. A chaque étape, des questions vous seront posées et des choix vous permettront de définir des rappels ainsi que des échéances que vous recevrez par email.<br>
  Il est possible de passer plusieurs fois par une étape.<br>
  Il est important de noter que l’offre enregistrée reste active tant que vous n’êtes pas arrivé à la dernière étape. Ainsi, vous continuerez à recevoir des emails concernant cette offre. Pour arrêter de recevoir ces emails pensez bien à clôturer chacune des offres en indiquant si oui ou non vous avez été embauché. Lors de cette dernière étape JobTag vous demandera d’archiver l’offre de façon à la clôturer.</p>

  <h3>26. Que faire si je rencontre des problèmes avec la Timeline ?</h3>
  <p>Si vous rencontrez un problème de l’utilisation de la Timeline, n’hésitez pas à nous  envoyer un email à contact@jobtag.fr.<br>
  N’oubliez pas de préciser le motif de votre message dans le champs Objet.</p>


  <h2>Contact</h2>
  <h3>27. A quoi sert l’onglet Contacts ?</h3>
  <p>Dans l’onglet Contacts vous pouvez sauvegarder l’ensemble des contacts avec qui vous communiquez dans le cadre de votre processus de recrutement.</p>

  <h3>28. Quelles informations puis-je enregistrer ?</h3>
  <p>Pour chaque carte de visite que vous créez dans l’onglet Contacts, vous pouvez sauvegarder le nom, le poste, l’adresse email, le numéro de téléphone et ajouter des informations complémentaires.</p>

  <h3>29. Comment ajouter modifier ou supprimer un contact ?</h3>
  <p>Pour Ajouter un contact, rendez-vous dans l’onglet Contacts et cliquez sur le bouton Ajouter un contact. Remplissez l’ensemble des champs et cliquez sur le bouton vert pour valider ou le bouton rouge pour annuler l’opération.<br>
  Pour modifier un contact, cliquez sur l’icône modifier (un crayon qui écrit sur une feuille) qui se trouve sur la carte de visite du contact que vous voulez modifier.<br>
  Pour supprimer un contact cliquez sur l’icône de la poubelle juste à côté.</p>


  <h2>Archives</h2>
  <h3>30. A quoi servent les archives ?</h3>
  <p>Pour clôturer une offre dans JobTag vous avez deux solutions. Soit vous la supprimez (bouton en forme de poubelle en haut à droite) soit vous l’archivez en utilisant la Timeline.<br>
  Le système d’archivage vous permet de garder une trace des offres auxquelles vous avez déjà postulées.</p>

  <h3>31. Comment accéder aux archives ?</h3>
  <p>Pour accéder à vos archives cliquez sur votre nom dans la barre de navigation en haut à droite. Puis dans le menu déroulant cliquez sur Archives.<br>
  Un dossier dédié à l’archivage va apparaître dans la colonne de gauche dans lequel se trouve toutes vos archives.</p>

  <h2>Inscription et paramètres</h2>
  <h3>32. Comment s’inscrire ?</h3>
  <p>L’inscription se fait en quelques clics avec  un email valide (pour pouvoir confirmer votre compte et recevoir les notifications) un mot de passe et un nom d’utilisateur.<br>
  Pour la version bêta de l’application, vous devez posséder une clé d’inscription pour accéder au site internet.<br>
  Si vous rencontrez un problème avec votre clé d’inscription bêta envoyez nous un email à contact@jobtag.fr. N’oubliez pas de préciser le motif de votre message dans le champs objet.</p>

  <h3>33. Comment modifier mes informations personnelles ?</h3>
  <p>Pour modifier vos informations personnelles, rendez-vous dans la rubrique Profil en cliquant sur votre nom d’utilisateur en haut à droite. Vous pouvez modifier l’ensemble de vos informations et réinitialiser votre mot de passe en cliquant sur l’icône de modification.</p>

  <h2>Technique</h2>
  <h3>34. Que faire si je rencontre un problème dans l’utilisation de JobTag ?</h3>
  <p>Si vous rencontrez un problème de l’utilisation du service, n’hésitez pas à nous alerter du problème en nous envoyant un email à contact@jobtag.fr.<br>
  N’oubliez pas de préciser le motif de votre message dans le champs Objet.</p>

  <h3>35. Comment autoriser l’installation des cookies sur mon ordinateur ?</h3>
  <p>Pour fonctionner, JobTag a besoin d’installer un cookie sur votre ordinateur. Il sert à vous identifier pour pouvoir vous connecter et vous donner accès à nos fonctionnalités.<br>
  Pour autoriser l’installation des cookies sur votre ordinateur suivez les indications suivantes :<br>
  Sous Firefox, cliquez sur Outils, Options, Vie privée, cochez Accepter les cookies et Accepter les cookies tiers.<br>
  Sous Internet Explorer, cliquez sur l’icône Outils à droite de la barre de navigation, puis Option internet, Confidentialité et régler le curseur sur un paramètre moyennement haut, moyen ou bas.<br>
  Sous Google Chrome, cliquez sur l’icône Configuration à droite de la barre de navigation, Paramètres, Afficher les paramètres avancés (en bas de la page), Paramètres de contenu dans la rubrique Confidentialité et choisir Autoriser le stockage des données locales.<br>
  Sous Safari, cliquer sur le menu Safari, Préférences, puis Confidentialité. Dans la partie Cookies et données des sites web cochez N’autoriser que les sites web visités.<br>
  Sous Opéra, cliquez sur Outils, Préférences, Avancés, Cookies et cochez Accepter les cookies.</p>
</template>

<template name="betaFaq">
  <h1 class="text-center">FAQ Bêta</h1>

    <h2>Général</h2>
  <h3>1. Qu’est ce qu’une version Bêta ?</h3>
  <p>Le bêta test est la deuxième période d’essai d’un produit informatique avant sa publication. Nous avons décidé de vous proposer JobTag dans une version Bêta privée essentiellement pour mettre en évidence et corriger des bugs résiduels. Sans votre participation active, la détection de ces bugs résiduels risqueraient de ralentir et reporter la sortie de l’application dans sa version finale.</p>

  <h3>2. Qu’est ce que cela implique ?</h3>
  <p>Durant cette période JobTag va subir de nombreuses mises à jours pour corriger ces bugs et vous proposer la meilleur expérience possible. Il s’agit de corriger tous les bugs avant d’ouvrir l’application à un plus large public.</p>

  <h3>3. Qu’est ce qu’un bêta testeur ?</h3>
  <p>Si vous avez accès à la version de JobTag cela implique que vous êtes bêta-testeur. Cela veut dire que vous pouvez utiliser JobTag en avant première avant tout le monde.<br>
  En contre partie nous mettons à contribution votre utilisation. Si vous rencontrez un problème technique, si vous repérez une erreur ou si vous faites face à une incertitude, merci de bien vouloir nous transmettre l’information.</p>

  <h3>4. Comment nous faire remonter l’information ?</h3>
  <p>Pour nous faire part de vos problèmes techniques, des éventuelles erreurs que vous rencontrez ou de votre incertitude quant à l’utilisation de l’application vous pouvez :<br>
  Utiliser le bouton Rapporter un bug en haut au milieu dans l’application web. Vous serez alors redirigé vers nos forums et vous pourrez y poster un message dans la rubrique qui correspond le mieux à votre problème.
  Vous pouvez aussi nous écrire directement un mail à contact@jobtag.fr.</p>

  <h3>5. Y a t-il des risques pour mes données ou mon matériel informatique ?</h3>
  <p>JobTag rentre en phase bêta, à ce titre vous êtes les premiers à utiliser l’application dans son intégralité. Lors du développement nous avons fait tout notre mieux pour proposer une application stable. Malheureusement, nous ne sommes pas à l’abris de possibles pertes de données. Nous vous demandons de prendre vos précautions et d’assurer des sauvegardes sur votre ordinateur des données que vous importez sur JobTag (offres sauvegardés, documents importés).<br>
  Cependant, l’utilisation de JobTag en version bêta ne risque pas d’altérer votre matériel informatique.</p>

  <h3>6. Quand JobTag sortira de sa version Bêta ?</h3>
  <p>Aucune date n’est encore avancée pour la sortie finale de JobTag. Celle-ci dépend de plusieurs critères :<br>
  Correction de tous les bugs détectés durant la version Bêta<br>
  Optimisation de l’application web et des pages connexes<br>
  Mise à jour de la page d’accueil.</p>

  <h3>7. Est ce que le service restera gratuit après la sortie de la Bêta ?</h3>
  <p>JobTag est construit autour d’un modèle gratuit. Ainsi, une fois sortie de la version bêta l’application web restera gratuite pour l’utilisateur.</p>
</template>
