<template name="appLayout">
  {{> navbar}}
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar sidebar-default">
        {{> directories}}
      </div>
      {{#if directorySelected}}
      <div class="col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 sidebar sidebar-inverse sidebar-offers">
        {{> offers}}
      </div>
      <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main">
        {{> yield}}
      </div>
      {{else}}
     <div class="col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 sidebar sidebar-inverse sidebar-offers">
        {{> offers}}
      </div>
      <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main">
        {{> dashboard}}
      </div>
      {{/if}}
    </div>
  </div>
</template>

<!-- <template name="appLayout">
  {{> navbar}}
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar sidebar-default">
        {{> directories}}
      </div>
      {{#if and directorySelected isAllOffers}}
      <div class="col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 sidebar sidebar-inverse sidebar-offers">
        {{> offers}}
      </div>
      <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main">
        {{> yield}}
      </div>
      {{else}}
     <div class="col-sm-4 col-sm-offset-3 col-md-3 col-md-offset-2 sidebar sidebar-inverse sidebar-offers">
        {{> offers}}
      </div>
      <div class="col-sm-5 col-sm-offset-7 col-md-7 col-md-offset-5 main">
        {{> dashboard}}
      </div>
      {{/if}}
    </div>
  </div>
</template> -->
