<template name="adminSidebar">
  <ul class="nav nav-sidebar sidebar-admin" role="tablist">
    <li class="active" role="presentation"><a class="news" href="#news" aria-controls="news" role="tab" data-toggle="tab">
      <i class="icon-left fa fa-newspaper-o"></i><span class="text">News</span></a>
    </li>
    <li role="presentation"><a class="beta" href="#beta" aria-controls="beta" role="tab" data-toggle="tab">
      <i class="icon-left fa fa-cubes"></i><span class="text">Beta</span></a>
    </li>
  </ul>
</template>
